<nav>
  <dl class="companies">

    {% assign sorted_units = (site.data.units | sort: 'name') %}
    {% for unit in sorted_units %}
      {% if unit.unit == "D1" or  unit.unit == "D2" or unit.unit == "D3" or unit.unit == "D4" %}
        <a href=""  class="btn {{ unit.name | slice: 0, 1 }}" unit="#D1_D2_D3_D4" direction="{{ unit.direction }}">
      {% else %}
        <a href=""  class="btn {{ unit.name | slice: 0, 1 }}" unit="#{{unit.unit}}" direction="{{ unit.direction }}">
      {% endif %}
        <dt>{{ unit.name }}</dt>
        <dd>{{ unit.unit }}</dd>
       </a>
    {% endfor %}

  </dl>
</nav>
