{% include welcome.html %}


<section class="news" ng-controller="NewsCtrl">
    <ul class="image image-carousel" rn-carousel rn-carousel-auto-slide="10" rn-carousel-transition="none" rn-carousel-duration="300" rn-carousel-controls-allow-loop>
      <li  class="news-items" ng-repeat="item in blocks">
        <!-- Nieuwbrief -->
        <article class="news-items" ng-if=item.acf_fc_layout >
          <h1 ng-bind-html="item.blok_titel"> </h1>
          <div class="news-image"  lazy-image lazy-src="//item.blok_afbeelding//" > </div>
          <p ng-bind-html="item.blok_tekst"></p>
        </article>
        <!-- Pushbericht -->
        <article class="news-items" ng-if=item.type >
          <h1 ng-bind-html="item.title.rendered"> </h1>
          <!-- <div class="news-image"  lazy-image lazy-src="//item.featured_media//" > </div> -->
          <p ng-bind-html="item.acf.feat_tekst"></p>

        </article>
      </li>

    </ul>
</section>
