.search{
  position:relative;
  background:white;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:9;
  text-align:left;
  display:table;
  font-size:54px;
  h1{
    margin-top:0;
    padding-left:5%;
    clear:both;
    font-weight:300;
    font-size:50%;
    line-height:50%;
    display:none;
  }
}

.plan{
  padding-top:10%;
  padding-left:5%;
  padding-right:5%;
  clear:both;
  font-weight:700;
}

.floors{
  width:10%;
  float:left;
  font-size:38px;
  text-align:center;

}

.floor{
  border-top:2px solid $black;
  border-left:2px solid $black;
  border-right:2px solid $black;
  &.active{
    background:black;
    color:white;
  }
}

.map{
  width:85%;
  margin-left:5%;
  float:left;
}

.companies{
	-webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
	@include media($large-screen-up) {
		-webkit-column-count: 4;
	     -moz-column-count: 4;
	          column-count: 4;
	  -webkit-column-width: 200px;
	     -moz-column-width: 200px;
	          column-width: 200px;
	}

}



.text-area{
	margin-top:($small-spacing);
	padding: ($small-spacing * 1.3) ($base-spacing / 1.5);
	background:$yellow;
	font-weight:bold;
	font-size:rem(32);
	position: relative;
	display: inline-block;
	width: 100%;

	h2{
		margin:0;
		padding:0;
		text-transform:lowercase;
		width:50%;
		display: inline-block;
		float:left;
    position: relative;
		color:black;
		&.left{
			text-align:left;
			opacity:0;
			@include transform(translateX(55%));
		}
		&.right{
			text-align:right;
			opacity:0;
			@include transform(translateX(-55%));
		}
		&.left, &.right{
			@include transition(opacity 200ms ease);
			@include transition-property(transform);
			@include transition-duration(1s);
			@include transition-timing-function(ease-out);
			@include transition-delay(100ms);
			&.active{
				opacity:1;
				@include transform(translateX(0))
			}
		}
	}
}
