{% include top.html %}
<body>
  <div class="site">
    <header class="header">
      {% include svg/hig.html %}

    </header>
  
    <main>
    {{ content }}
      <section class="text-area">
          <h2 class="left">Ga naar links</h2>

          <h2 class="right">Ga naar rechts</h2>

      </section>
    </main>
    {% include menu.html %}
    <footer>
    </footer>
  </div>
  {% include analytics.html %}
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
  WebFont.load({
    google: {
      families: ['Montserrat', 'Lora']
    },
    typekit: {
       id: 'ptu0nia'
     }
  });
  </script>
  -->
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src='/bower_components/jquery/dist/jquery.min.js'></script>
  <script src='/js/unit.js'></script>


</body>
</html>
