---
layout: default
---

{{content}}

{% assign sorted_units = site.data.units | sort: 'name' %}
<ol class="list">
{% for unit in sorted_units %}

    <li><span>{{ unit.name }}</span> <span> Verdieping: {{unit.floor}} </span> | <span>{{ unit.unit | default }} </span></li>
{% endfor %}
</ol>


<div class="overview">
  <h2>Begane grond</h2>
  {% include svg/v2/00.svg %}
  <h2>1ste Verdieping</h2>
  {% include svg/v2/01.svg %}
  <h2>2de Verdieping</h2>
  {% include svg/v2/02.svg %}
  <h2>3de Verdieping</h2>
  {% include svg/v2/03.svg %}
  <h2>4de Verdieping</h2>
  {% include svg/v2/04.svg %}
  <h2>5de Verdieping</h2>
  {% include svg/v2/05.svg %}
</div>
