---
layout: default
---
<section class="plan">

  <div class="map floor05 flip">
  {% include svg/fifth-floor.html %}
  </div>
  <div class="map floor05">
  {% include svg/fifth-floor.html %}
  </div>

  <div class="map floor04 flip">
  {% include svg/fourth-floor.html %}
  </div>
  <div class="map floor04">
  {% include svg/fourth-floor.html %}
  </div>

  <div class="map floor03 flip">
  {% include svg/third-floor.html %}
  </div>
  <div class="map floor03 ">
  {% include svg/third-floor.html %}
  </div>

  <div class="map floor02 flip">
  {% include svg/second-floor.html %}
  </div>
  <div class="map floor02">
  {% include svg/second-floor.html %}
  </div>

  <div class="map floor01 flip">
  {% include svg/first-floor.html %}
  </div>
  <div class="map floor01">
  {% include svg/first-floor.html %}
  </div>

  <div class="map floor00 flip">
  {% include svg/zero-floor.html %}
  </div>
  <div class="map floor00">
  {% include svg/zero-floor.html %}
  </div>

</section>

<section class="floor-wrapper">
  <ul class="floors">
    <h2>FLOOR</h2>
    <li class="floor floor05">05</li>
    <li class="floor floor04">04</li>
    <li class="floor floor03">03</li>
    <li class="floor floor02">02</li>
    <li class="floor floor01">01</li>
    <li class="floor floor00 active">BG</li>
  </ul>
</section>

<section class="search-start">
  {% include menu-start.html %}
</section>


<section class="search-companies">
  {% include menu.html %}
</section>
