---
layout: default
---
<a  href="/" id="toggle" class="toggle--search">
  <div class="toggle__btn">
    <div class="toggle__bar toggle__bar--search bar_top"></div>
    <div class="toggle__bar toggle__bar--search bar_bottom"></div>
  </div>
</a>


<section class="plan">

  <div class="map floor05 flip">
    {% include svg/v1/05.svg %}
  </div>
  <div class="map floor05">
    {% include svg/v1/05.svg %}
  </div>

  <div class="map floor04 flip">
    {% include svg/v1/04.svg %}
  </div>
  <div class="map floor04">
    {% include svg/v1/04.svg %}
  </div>

  <div class="map floor03 flip">
    {% include svg/v1/03.svg %}
  </div>
  <div class="map floor03 ">
    {% include svg/v1/03.svg %}
  </div>

  <div class="map floor02 flip">
    {% include svg/v1/02.svg %}
  </div>
  <div class="map floor02">
    {% include svg/v1/02.svg %}
  </div>

  <div class="map floor01 flip">
    {% include svg/v1/01.svg %}
  </div>
  <div class="map floor01">
    {% include svg/v1/01.svg %}
  </div>

  <div class="map floor00 flip">

  </div>
  <div class="map floor00">

  </div>

</section>

<section class="floor-wrapper">
  <ul class="floors">
    <h2>FLOOR</h2>
    <li class="floor floor05">05</li>
    <li class="floor floor04">04</li>
    <li class="floor floor03">03</li>
    <li class="floor floor02">02</li>
    <li class="floor floor01">01</li>
    <li class="floor floor00 active">BG</li>
  </ul>
</section>

<section class="search-start">
  {% include menu-start.html %}
</section>


<section class="search-companies">
  {% include menu.html %}
</section>
