ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: $small-spacing;
  //width:30%;
  dt {
    font-weight: 600;
    //margin-top: $small-spacing;
    @include span-columns(10);
  }

  dd {
    margin: 0;
    text-align:right;
    @include span-columns(2);
    @include omega();
  }
}
